@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Reusable Code  */

.container{
    max-width: 1130px;
    margin-inline: 1.5rem;
}